In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows',None,'display.max_columns',None)

### Debt / Equity Ratio

The debt-to-equity (D/E) ratio is used to evaluate a company's financial leverage and is calculated by dividing a company’s total liabilities by its shareholder equity.
The D/E ratio is an important metric used in corporate finance. It is a measure of the degree to which a company is financing its operations through debt versus wholly-owned funds.

* How much debt for every dollar in equity.
* The higher, most risky the company appears.
* Depend to the industry.

In [2]:
de = pd.read_csv('PyFinance/04 - Intrinsic Value/50-de-ratio.csv',index_col=0)
de.head()

,AAPL,MSFT,AMZN,GOOG,FB,TSLA,BRK.A,V,JNJ,WMT,JPM,MA,PG,UNH,DIS,NVDA,HD,PYPL,BAC,VZ,ADBE,CMCSA,NFLX,KO,NKE,MRK,PEP,T,PFE,INTC,CRM,ABT,ORCL,ABBV,CSCO,TMO,AVGO,XOM,ACN,QCOM,COST,CVX,LLY,MCD,DHR,MDT,NEE,TXN,HON,UPS
2020-09-30,3.96,1.44,2.41,0.41,0.24,1.71,0.98,1.24,1.65,NaN,10.97,4.40,1.47,1.80,1.28,NaN,NaN,2.54,9.19,3.46,NaN,2.07,2.74,3.78,NaN,2.07,5.77,1.76,1.73,0.95,NaN,1.19,NaN,8.79,NaN,1.01,NaN,0.94,NaN,4.86,NaN,0.69,7.80,-6.98,0.92,NaN,2.01,1.19,2.47,10.13
2020-06-30,3.39,1.55,2.50,0.34,0.27,2.56,0.98,1.19,1.52,NaN,11.15,3.94,1.58,1.89,1.30,NaN,NaN,2.57,9.32,3.57,NaN,2.14,2.98,3.94,NaN,2.27,6.11,1.83,1.76,0.86,NaN,1.23,NaN,9.15,NaN,1.06,NaN,0.93,NaN,8.78,NaN,0.66,8.82,-6.28,0.97,NaN,1.93,1.28,2.46,13.18
2020-03-31,3.09,1.49,2.39,0.34,0.31,2.71,1.03,1.11,1.53,NaN,11.02,4.65,1.58,2.16,1.17,NaN,NaN,2.39,8.89,3.78,NaN,2.17,3.17,3.74,NaN,2.23,5.27,1.79,1.55,0.94,NaN,1.20,NaN,-13.30,NaN,1.06,NaN,0.89,NaN,9.49,NaN,0.63,11.86,-6.44,1.22,NaN,1.95,1.24,2.21,17.38
2019-12-31,2.80,1.57,2.63,0.37,0.32,3.60,0.91,1.12,1.65,NaN,9.28,3.94,1.43,1.88,1.12,NaN,NaN,2.03,8.19,3.64,NaN,2.14,3.48,3.09,NaN,2.25,4.28,1.73,1.64,0.76,NaN,1.17,NaN,-11.91,NaN,0.97,NaN,0.82,NaN,6.34,NaN,0.64,13.56,-6.79,1.05,NaN,1.85,1.02,2.14,16.62
2019-09-30,2.74,1.63,2.52,0.35,0.32,3.77,0.96,1.09,1.67,NaN,9.46,4.22,1.43,2.01,1.07,NaN,NaN,2.05,8.04,3.72,NaN,2.24,3.51,3.23,NaN,2.10,4.45,1.82,1.61,0.80,NaN,1.14,NaN,-8.23,NaN,0.93,NaN,0.82,NaN,5.71,NaN,0.64,9.94,-6.33,0.85,NaN,1.84,1.00,2.28,8.56

In [3]:
de.index = pd.to_datetime(de.index)

In [4]:
de = de.sort_index(ascending=False)
de.head(6)

,AAPL,MSFT,AMZN,GOOG,FB,TSLA,BRK.A,V,JNJ,WMT,JPM,MA,PG,UNH,DIS,NVDA,HD,PYPL,BAC,VZ,ADBE,CMCSA,NFLX,KO,NKE,MRK,PEP,T,PFE,INTC,CRM,ABT,ORCL,ABBV,CSCO,TMO,AVGO,XOM,ACN,QCOM,COST,CVX,LLY,MCD,DHR,MDT,NEE,TXN,HON,UPS
2020-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.83,NaN,NaN,NaN,2.27,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.77,NaN,NaN,NaN,NaN,NaN,1.08,NaN,2.93,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.87,NaN,NaN,NaN,NaN,NaN,0.75,42.60,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.47,NaN,NaN,NaN,1.49,NaN,2.18,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.91,NaN,NaN,NaN,NaN
2020-09-30,3.96,1.44,2.41,0.41,0.24,1.71,0.98,1.24,1.65,NaN,10.97,4.40,1.47,1.80,1.28,NaN,NaN,2.54,9.19,3.46,NaN,2.07,2.74,3.78,NaN,2.07,5.77,1.76,1.73,0.95,NaN,1.19,NaN,8.79,NaN,1.01,NaN,0.94,NaN,4.86,NaN,0.69,7.80,-6.98,0.92,NaN,2.01,1.19,2.47,10.13
2020-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.91,NaN,NaN,NaN,2.61,NaN,NaN,NaN,NaN,NaN,NaN,NaN,10.20,NaN,NaN,NaN,NaN,NaN,1.12,NaN,1.97,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.92,NaN,NaN,NaN,NaN,NaN,0.81,-154.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.50,NaN,NaN,NaN,1.50,NaN,2.37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.86,NaN,NaN,NaN,NaN
2020-06-30,3.39,1.55,2.50,0.34,0.27,2.56,0.98,1.19,1.52,NaN,11.15,3.94,1.58,1.89,1.30,NaN,NaN,2.57,9.32,3.57,NaN,2.14,2.98,3.94,NaN,2.27,6.11,1.83,1.76,0.86,NaN,1.23,NaN,9.15,NaN,1.06,NaN,0.93,NaN,8.78,NaN,0.66,8.82,-6.28,0.97,NaN,1.93,1.28,2.46,13.18

In [5]:
de.shape

(191, 50)

In [6]:
de = de.loc['2020-09-30':'2010-01-01']
de.shape

(129, 50)

In [31]:
de2 = de.resample('Q',convention='end').agg('mean').transpose()
de2.head()

,2010-03-31,2010-06-30,2010-09-30,2010-12-31,2011-03-31,2011-06-30,2011-09-30,2011-12-31,2012-03-31,2012-06-30,2012-09-30,2012-12-31,2013-03-31,2013-06-30,2013-09-30,2013-12-31,2014-03-31,2014-06-30,2014-09-30,2014-12-31,2015-03-31,2015-06-30,2015-09-30,2015-12-31,2016-03-31,2016-06-30,2016-09-30,2016-12-31,2017-03-31,2017-06-30,2017-09-30,2017-12-31,2018-03-31,2018-06-30,2018-09-30,2018-12-31,2019-03-31,2019-06-30,2019-09-30,2019-12-31,2020-03-31,2020-06-30,2020-09-30
AAPL,0.45,0.50,0.57,0.59,0.54,0.54,0.52,0.54,0.47,0.46,0.49,0.54,0.44,0.62,0.68,0.74,0.71,0.84,1.08,1.12,1.03,1.17,1.43,1.29,1.34,1.42,1.51,1.50,1.50,1.61,1.80,1.90,1.90,2.04,2.41,2.17,2.23,2.34,2.74,2.80,3.09,3.39,3.96
MSFT,0.86,0.87,0.95,0.90,0.87,0.90,0.81,0.75,0.72,0.83,0.77,0.77,0.75,0.80,0.74,0.80,0.79,0.92,0.88,0.90,0.96,1.18,1.23,1.35,1.43,1.69,2.02,2.26,2.23,1.85,1.78,2.27,2.10,2.13,2.00,1.81,1.78,1.80,1.63,1.57,1.49,1.55,1.44
AMZN,1.14,1.12,1.21,1.74,1.30,1.31,1.45,2.26,1.80,1.80,2.02,2.97,2.37,2.39,2.51,3.12,2.52,2.58,2.91,4.07,3.61,3.46,3.52,3.84,3.14,2.94,2.99,3.33,2.74,2.78,3.68,3.74,3.02,2.83,2.67,2.74,2.68,2.61,2.52,2.63,2.39,2.50,2.41
GOOG,0.12,0.18,0.23,0.25,0.23,0.25,0.26,0.25,0.25,0.33,0.32,0.31,0.28,0.28,0.27,0.27,0.27,0.27,0.27,0.24,0.23,0.24,0.24,0.23,0.21,0.21,0.19,0.21,0.19,0.21,0.21,0.29,0.29,0.31,0.30,0.31,0.34,0.34,0.35,0.37,0.34,0.34,0.41
FB,0.00,0.00,0.00,0.38,0.00,0.00,0.00,0.29,0.30,0.12,0.13,0.29,0.28,0.27,0.14,0.16,0.14,0.13,0.14,0.11,0.12,0.12,0.12,0.12,0.10,0.11,0.10,0.10,0.11,0.11,0.11,0.14,0.15,0.14,0.15,0.16,0.27,0.32,0.32,0.32,0.31,0.27,0.24

In [32]:
#new = de.resample('Q',convention='end').agg('mean').transpose()['2020-09-30']
new = de2['2020-09-30']
new1 = de2.mean(axis=1)
new2 = de2.max(axis=1)


result = (new < 5) & (new > 0)
result1 = (new1 < 5) & (new1 > 0)
result2 = (new2 < 5) & (new2 > 0)

de2['result_year'] = result
de2['result_mean'] = result1
de2['result_max'] = result2

# How could I do to crate a metric what evcaluate the las 5 Q and tell me if is less than 5 and grater than 0.

# de2['result_last2'] = ['2 ok' if de2['2020-06-30']<5 & de2['2019-09-30']<5 else ' at least 1 is gigger than 5']
cols=de2[['result_year','result_mean','result_max']]

In [87]:
cols.name='D/E Ratio'
cols.to_csv('Results/result-de.csv')

### Current Ratio Evaluation
The current ratio is a liquidity ratio that measures a company's ability to pay short-term obligations or those due within one year. 
It tells investors and analysts how a company can maximize the current assets on its balance sheet to satisfy its current debt and other payables.

$$
\ Current Ratio = \frac{\text{Current Assets}} { \text{Current Liabilities}}
$$​	 

Current Ratio > 1 = more short-long Assets than short-long Liabilities

In [80]:
current = pd.read_csv('PyFinance/04 - Intrinsic Value/50-current-ratio.csv',index_col=0)
current.head()

,AAPL,MSFT,AMZN,GOOG,FB,TSLA,BRK.A,V,JNJ,WMT,JPM,MA,PG,UNH,DIS,NVDA,HD,PYPL,BAC,VZ,ADBE,CMCSA,NFLX,KO,NKE,MRK,PEP,T,PFE,INTC,CRM,ABT,ORCL,ABBV,CSCO,TMO,AVGO,XOM,ACN,QCOM,COST,CVX,LLY,MCD,DHR,MDT,NEE,TXN,HON,UPS
2020-09-30,1.36,2.53,1.11,3.41,5.51,1.64,0.27,1.91,1.48,NaN,0.88,1.86,0.87,0.82,1.32,NaN,NaN,1.38,0.87,1.07,NaN,0.93,1.24,1.13,NaN,1.30,0.93,0.84,1.40,1.66,NaN,1.70,NaN,0.95,NaN,2.93,NaN,0.86,NaN,2.14,NaN,1.26,1.36,1.07,2.08,NaN,0.57,4.24,1.64,1.29
2020-06-30,1.47,2.52,1.18,3.41,6.03,1.25,0.30,1.55,1.25,NaN,0.88,1.95,0.85,0.84,1.34,NaN,NaN,1.38,0.93,0.96,NaN,0.97,1.12,1.09,NaN,1.32,0.97,0.81,1.42,1.98,NaN,1.57,NaN,0.86,NaN,2.62,NaN,0.93,NaN,1.97,NaN,1.14,1.22,0.91,2.20,NaN,0.61,3.92,1.63,1.24
2020-03-31,1.50,2.90,1.08,3.66,4.60,1.24,0.33,1.25,1.31,NaN,0.89,1.87,0.83,0.75,0.94,NaN,NaN,1.39,0.92,0.99,NaN,0.87,0.82,0.87,NaN,1.12,1.10,0.76,1.03,1.74,NaN,1.43,NaN,3.14,NaN,2.32,NaN,0.78,NaN,1.57,NaN,1.01,1.11,1.90,1.32,NaN,0.71,3.49,1.30,1.22
2019-12-31,1.60,2.80,1.10,3.37,4.40,1.14,0.39,1.27,1.26,NaN,0.92,1.42,0.63,0.69,0.80,NaN,NaN,1.43,0.91,0.84,NaN,0.84,0.90,0.76,NaN,1.24,0.86,0.80,0.88,1.40,NaN,1.44,NaN,3.18,NaN,1.92,NaN,0.78,NaN,1.76,NaN,1.07,1.16,0.98,5.19,NaN,0.54,4.13,1.34,1.11
2019-09-30,1.54,2.85,1.10,3.78,4.66,1.08,0.44,1.56,1.26,NaN,0.93,1.39,0.73,0.70,0.90,NaN,NaN,1.43,0.92,0.89,NaN,0.86,0.73,0.92,NaN,1.26,0.95,0.74,0.91,1.20,NaN,1.54,NaN,1.15,NaN,1.80,NaN,0.78,NaN,1.88,NaN,1.12,1.17,0.84,3.43,NaN,0.58,4.34,1.32,1.11

In [81]:
current.index = pd.to_datetime(current.index)
current.index

DatetimeIndex(['2020-09-30', '2020-06-30', '2020-03-31', '2019-12-31',
               '2019-09-30', '2019-06-30', '2019-03-31', '2018-12-31',
               '2018-09-30', '2018-06-30',
               ...
               '2007-05-31', '2007-02-28', '2006-11-30', '2006-08-31',
               '2006-05-31', '2006-02-28', '2005-11-30', '2005-08-31',
               '2005-05-31', '2005-02-28'],
              dtype='datetime64[ns]', length=191, freq=None)

In [82]:
current.sort_index(ascending=False,inplace=True)
current.head()

,AAPL,MSFT,AMZN,GOOG,FB,TSLA,BRK.A,V,JNJ,WMT,JPM,MA,PG,UNH,DIS,NVDA,HD,PYPL,BAC,VZ,ADBE,CMCSA,NFLX,KO,NKE,MRK,PEP,T,PFE,INTC,CRM,ABT,ORCL,ABBV,CSCO,TMO,AVGO,XOM,ACN,QCOM,COST,CVX,LLY,MCD,DHR,MDT,NEE,TXN,HON,UPS
2020-11-30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.48,NaN,NaN,NaN,2.66,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.17,NaN,NaN,NaN,NaN,NaN,1.45,NaN,0.98,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-10-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.84,NaN,NaN,NaN,NaN,NaN,3.92,1.36,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.22,NaN,NaN,NaN,1.59,NaN,1.87,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.16,NaN,NaN,NaN,NaN
2020-09-30,1.36,2.53,1.11,3.41,5.51,1.64,0.27,1.91,1.48,NaN,0.88,1.86,0.87,0.82,1.32,NaN,NaN,1.38,0.87,1.07,NaN,0.93,1.24,1.13,NaN,1.3,0.93,0.84,1.4,1.66,NaN,1.7,NaN,0.95,NaN,2.93,NaN,0.86,NaN,2.14,NaN,1.26,1.36,1.07,2.08,NaN,0.57,4.24,1.64,1.29
2020-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.44,NaN,NaN,NaN,2.55,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.66,NaN,NaN,NaN,NaN,NaN,1.40,NaN,1.13,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.79,NaN,NaN,NaN,NaN,NaN,6.09,1.30,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.15,NaN,NaN,NaN,1.72,NaN,2.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.87,NaN,NaN,NaN,NaN

In [83]:
current = current.loc['2020-09-30':'2010-01-01']

In [84]:
current2 = current.resample('Q',convention='end').agg('mean').transpose()
current2.head()

,2010-03-31,2010-06-30,2010-09-30,2010-12-31,2011-03-31,2011-06-30,2011-09-30,2011-12-31,2012-03-31,2012-06-30,2012-09-30,2012-12-31,2013-03-31,2013-06-30,2013-09-30,2013-12-31,2014-03-31,2014-06-30,2014-09-30,2014-12-31,2015-03-31,2015-06-30,2015-09-30,2015-12-31,2016-03-31,2016-06-30,2016-09-30,2016-12-31,2017-03-31,2017-06-30,2017-09-30,2017-12-31,2018-03-31,2018-06-30,2018-09-30,2018-12-31,2019-03-31,2019-06-30,2019-09-30,2019-12-31,2020-03-31,2020-06-30,2020-09-30
AAPL,2.64,2.31,2.01,1.85,1.93,1.75,1.61,1.58,1.58,1.57,1.50,1.54,1.78,1.88,1.68,1.49,1.63,1.47,1.08,1.13,1.16,1.09,1.11,1.00,1.28,1.31,1.35,1.23,1.39,1.39,1.28,1.24,1.46,1.31,1.13,1.30,1.32,1.51,1.54,1.60,1.50,1.47,1.36
MSFT,2.06,2.13,2.30,2.46,2.76,2.60,2.95,2.86,2.94,2.60,2.68,2.81,2.93,2.71,2.87,3.17,3.22,2.50,2.52,2.45,2.91,2.47,2.46,3.00,2.90,2.35,2.69,2.05,2.81,2.92,3.12,2.89,3.40,2.90,2.92,3.12,2.97,2.53,2.85,2.80,2.90,2.52,2.53
AMZN,1.53,1.55,1.50,1.33,1.46,1.40,1.33,1.17,1.16,1.08,1.04,1.12,1.14,1.11,1.07,1.07,1.05,1.00,0.89,1.12,1.12,1.10,1.08,1.05,1.08,1.09,1.06,1.05,1.06,1.01,1.03,1.04,1.06,1.07,1.08,1.10,1.09,1.10,1.10,1.10,1.08,1.18,1.11
GOOG,10.65,6.12,4.63,4.16,4.64,5.96,5.63,5.92,5.84,3.84,3.94,4.22,4.74,4.36,4.76,4.58,4.63,4.56,4.47,4.69,5.60,4.85,4.77,4.67,5.14,5.43,6.88,6.29,7.13,6.02,5.77,5.14,4.87,4.15,4.14,3.92,3.96,3.99,3.78,3.37,3.66,3.41,3.41
FB,0.00,0.00,0.00,5.77,0.00,0.00,0.00,5.12,4.52,11.57,11.38,10.71,10.39,10.58,10.72,11.88,13.56,12.82,13.06,9.40,8.59,9.01,10.68,11.25,13.16,12.22,11.69,11.97,12.61,12.31,13.38,12.92,9.91,10.67,9.00,7.19,5.38,4.47,4.66,4.40,4.60,6.03,5.51

In [85]:
conditions = [
                (current2['2020-09-30']>1.1) & (current2['2020-06-30']>1.1) & (current2['2020-03-31']>1.1) & (current2['2019-12-31']>1.1) & (current2['2019-09-30']>1.1),
                (current2['2020-09-30']>1.1) & (current2['2020-06-30']>1.1) & (current2['2020-03-31']>1.1) & (current2['2019-12-31']>1.1),
                (current2['2020-09-30']>1.1) & (current2['2020-06-30']>1.1) & (current2['2020-03-31']>1.1),
                (current2['2020-09-30']>1.1) & (current2['2020-06-30']>1.1),
                (current2['2020-09-30']>1.1),
                (current2['2020-09-30']<1.1)
]

results=['Last 5Y OK','Last 4Y OK','Last 3Y OK','Last 2Y OK','Last Y OK','Not good to invest']

current2['results'] = np.select(conditions,results)

In [88]:
result=current2['results']
result.to_csv('Results/result-CR.csv')
result.head()

AAPL    Last 5Y OK
MSFT    Last 5Y OK
AMZN    Last 2Y OK
GOOG    Last 5Y OK
FB      Last 5Y OK
Name: results, dtype: object