In [1]:
import pandas as pd

In [21]:
gdp00 = pd.read_csv('PyFinance/03 - Pandas/gdp-00s.csv',index_col=0)
gdp00.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
Country (or dependent territory),,,,,,,,,,
Afghanistan,NaN,NaN,18768.0,20806.0,21522.0,24842.0,26978.0,31390.0,33242.0,40390.0
Albania,12857.0,14241.0,15116.0,16269.0,17639.0,19212.0,20971.0,22818.0,25010.0,26045.0
Algeria,251580.0,265033.0,284171.0,310706.0,332978.0,363968.0,381471.0,404831.0,422514.0,432672.0
Angola,37442.0,39906.0,46056.0,49439.0,56326.0,68755.0,85562.0,107684.0,124967.0,128954.0
Antigua and Barbuda,1305.0,1247.0,1271.0,1374.0,1463.0,1623.0,1875.0,2055.0,2128.0,1914.0

In [22]:
gdp10 = pd.read_csv('PyFinance/03 - Pandas/gdp-10s.csv',index_col=0)
gdp.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,20y-pct
Albania,12857.0,14241.0,15116.0,16269.0,17639.0,19212.0,20971.0,22818.0,25010.0,26045.0,...,29655.0,30530.0,30604.0,32529.0,33595.0,34736.0,37609.0,40080.0,41709.0,5.799866e+05
Algeria,251580.0,265033.0,284171.0,310706.0,332978.0,363968.0,381471.0,404831.0,422514.0,432672.0,...,494947.0,497330.0,497988.0,506135.0,477358.0,471382.0,478071.0,496403.0,509307.0,9.145625e+06
Angola,37442.0,39906.0,46056.0,49439.0,56326.0,68755.0,85562.0,107684.0,124967.0,128954.0,...,162539.0,186124.0,199866.0,220365.0,204604.0,204875.0,217987.0,220542.0,222459.0,2.999116e+06
Antigua and Barbuda,1305.0,1247.0,1271.0,1374.0,1463.0,1623.0,1875.0,2055.0,2128.0,1914.0,...,1816.0,1772.0,1720.0,1762.0,1770.0,1883.0,1893.0,2073.0,2181.0,3.826652e+04
Argentina,437650.0,427890.0,387126.0,429738.0,481426.0,540900.0,602385.0,674119.0,715230.0,678009.0,...,797264.0,819698.0,849616.0,839897.0,867177.0,885228.0,1039331.0,1036982.0,1033456.0,1.563982e+07

In [27]:
gdp = pd.concat([gdp00,gdp10],axis=1)
gdp.head()

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Afghanistan,NaN,NaN,18768.0,20806.0,21522.0,24842.0,26978.0,31390.0,33242.0,40390.0,46304.0,50334.0,59945.0,63784.0,69444.0,72056.0,70098.0,74712.0,77416.0,81880.0
Albania,12857.0,14241.0,15116.0,16269.0,17639.0,19212.0,20971.0,22818.0,25010.0,26045.0,28328.0,29655.0,30530.0,30604.0,32529.0,33595.0,34736.0,37609.0,40080.0,41709.0
Algeria,251580.0,265033.0,284171.0,310706.0,332978.0,363968.0,381471.0,404831.0,422514.0,432672.0,471508.0,494947.0,497330.0,497988.0,506135.0,477358.0,471382.0,478071.0,496403.0,509307.0
Angola,37442.0,39906.0,46056.0,49439.0,56326.0,68755.0,85562.0,107684.0,124967.0,128954.0,153871.0,162539.0,186124.0,199866.0,220365.0,204604.0,204875.0,217987.0,220542.0,222459.0
Antigua and Barbuda,1305.0,1247.0,1271.0,1374.0,1463.0,1623.0,1875.0,2055.0,2128.0,1914.0,1814.0,1816.0,1772.0,1720.0,1762.0,1770.0,1883.0,1893.0,2073.0,2181.0

In [28]:
gdp.dropna(inplace=True)
gdp

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
Albania,12857.0,14241.0,15116.0,16269.0,17639.0,19212.0,20971.0,22818.0,25010.0,26045.0,28328.0,29655.0,30530.0,30604.0,32529.0,33595.0,34736.0,37609.0,40080.0,41709.0
Algeria,251580.0,265033.0,284171.0,310706.0,332978.0,363968.0,381471.0,404831.0,422514.0,432672.0,471508.0,494947.0,497330.0,497988.0,506135.0,477358.0,471382.0,478071.0,496403.0,509307.0
Angola,37442.0,39906.0,46056.0,49439.0,56326.0,68755.0,85562.0,107684.0,124967.0,128954.0,153871.0,162539.0,186124.0,199866.0,220365.0,204604.0,204875.0,217987.0,220542.0,222459.0
Antigua and Barbuda,1305.0,1247.0,1271.0,1374.0,1463.0,1623.0,1875.0,2055.0,2128.0,1914.0,1814.0,1816.0,1772.0,1720.0,1762.0,1770.0,1883.0,1893.0,2073.0,2181.0
Argentina,437650.0,427890.0,387126.0,429738.0,481426.0,540900.0,602385.0,674119.0,715230.0,678009.0,736718.0,797264.0,819698.0,849616.0,839897.0,867177.0,885228.0,1039331.0,1036982.0,1033456.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela,279760.0,295848.0,273788.0,257591.0,313074.0,356489.0,403717.0,450740.0,483838.0,471901.0,476095.0,506340.0,545085.0,562097.0,550205.0,520885.0,436659.0,375151.0,308781.0,204291.0
Vietnam,159786.0,174695.0,189936.0,207945.0,230306.0,255657.0,281900.0,310034.0,334014.0,354717.0,471196.0,511889.0,568401.0,607018.0,660612.0,700257.0,770872.0,851064.0,933163.0,1016475.0
Yemen,55168.0,58571.0,61811.0,65406.0,69874.0,76155.0,80984.0,85914.0,90795.0,95021.0,96373.0,85876.0,85441.0,92756.0,94294.0,68543.0,62769.0,60706.0,62631.0,65088.0
Zambia,17554.0,18909.0,20064.0,21886.0,24069.0,26641.0,29630.0,32959.0,36218.0,39858.0,43252.0,46612.0,49509.0,53420.0,54506.0,54473.0,55712.0,58735.0,62572.0,64607.0
Zimbabwe,25003.0,25441.0,23803.0,20270.0,19480.0,18566.0,18451.0,18303.0,15568.0,16869.0,23247.0,27102.0,31161.0,34187.0,35496.0,37016.0,38427.0,42818.0,45379.0,43168.0

In [31]:
gdp['20y-pct'] = gdp['2000']/gdp.sum(axis=1)*100
gdp['20y-pct'].head()

Albania                2.427897
Algeria                3.012807
Angola                 1.367333
Antigua and Barbuda    3.735077
Argentina              3.064810
Name: 20y-pct, dtype: float64

In [ ]:
gdp['20y-pct'] = gdp['2000']/gdp.sum(axis=1)*100
gdp['20y-pct'].head()

In [36]:
gdp['10y-pct'] = (gdp['2019']-gdp['2010'])/gdp['2010']*100
gdp['10y-pct'].head()

Albania                47.235950
Algeria                 8.016619
Angola                 44.575001
Antigua and Barbuda    20.231533
Argentina              40.278370
Name: 10y-pct, dtype: float64

In [34]:
gdp['20y-pt'] = (gdp['2019']-gdp['2000'])/gdp['2000']*100
gdp['20y-pt'].head()

Albania                224.406938
Algeria                102.443358
Angola                 494.142941
Antigua and Barbuda     67.126437
Argentina              136.137553
Name: 20y-pt, dtype: float64

In [35]:
gdp['20y-pt'].sort_values(ascending=False).head(10)

Turkmenistan    732.232120
Ethiopia        701.312624
Maldives        642.302260
Vietnam         536.147723
China           532.478907
Armenia         501.185376
Angola          494.142941
Bhutan          492.159468
Rwanda          486.311787
Cambodia        468.809416
Name: 20y-pt, dtype: float64

In [33]:
gdp['20y-pct'].sort_values(ascending=False).head(10)

Eritrea                           4.779732
Libya                             4.628366
Zimbabwe                          4.466775
San Marino                        4.080667
Puerto Rico                       4.034456
Federated States of Micronesia    4.010804
Palau                             3.914955
Italy                             3.864605
Brunei                            3.860257
Japan                             3.810695
Name: 20y-pct, dtype: float64

In [ ]:
gdp.to_excel('gdp-forever.xlsx')