In [1]:
import pandas as pd
import numpy as np
pd.set_option('display.max_rows',None,'display.max_columns',None)

### Return of Investment
ROI tries to directly measure the amount of return on a particular investment, relative to the investment’s cost.
* The benefit (or return) of an investment is divided by the cost of the investment.
* 10% on average for over 10Y and should be predictible (stable numbers).
* Return on Investment (ROI) is a popular profitability metric used to evaluate how well an investment has performed.
$$
\ ROI = \frac{\text{Current Value Of Investment − Cost Of Investment}} { \text{Cost Of Investment}}
$$​	 
​

In [2]:
roi = pd.read_csv('PyFinance/04 - Intrinsic Value/50-roi.csv',index_col=0)
roi.head()

,AAPL,MSFT,AMZN,GOOG,FB,TSLA,BRK.A,V,JNJ,WMT,JPM,MA,PG,UNH,DIS,NVDA,HD,PYPL,BAC,VZ,ADBE,CMCSA,NFLX,KO,NKE,MRK,PEP,T,PFE,INTC,CRM,ABT,ORCL,ABBV,CSCO,TMO,AVGO,XOM,ACN,QCOM,COST,CVX,LLY,MCD,DHR,MDT,NEE,TXN,HON,UPS
2020-09-30,38.97,31.67,20.07,16.34,NaN,8.03,NaN,27.06,21.31,NaN,5.51,48.29,24.10,23.55,-1.40,NaN,NaN,12.51,4.05,16.66,NaN,9.92,17.14,16.32,NaN,25.58,20.38,6.46,11.17,22.14,NaN,8.89,NaN,15.17,NaN,12.03,NaN,1.82,NaN,33.59,NaN,-8.92,29.40,28.06,6.42,NaN,6.13,38.14,17.43,28.52
2020-06-30,38.43,30.21,18.74,15.90,NaN,6.21,NaN,29.02,18.87,NaN,5.44,56.04,23.12,24.62,0.64,NaN,NaN,12.11,4.52,17.32,NaN,10.71,16.91,17.34,NaN,25.11,20.87,6.97,11.19,24.07,NaN,8.29,NaN,18.81,NaN,9.38,NaN,4.09,NaN,19.59,NaN,-6.32,32.04,28.26,6.13,NaN,7.02,38.19,19.76,28.07
2020-03-31,36.76,30.02,17.13,17.58,NaN,3.88,NaN,31.08,22.43,NaN,6.54,66.77,10.45,20.92,6.29,NaN,NaN,15.44,5.57,17.82,NaN,11.26,14.97,19.98,NaN,26.05,22.87,8.08,12.91,24.08,NaN,9.30,NaN,34.23,NaN,9.87,NaN,7.00,NaN,44.86,NaN,3.26,35.14,33.10,6.57,NaN,8.01,40.81,23.94,28.54
2019-12-31,35.64,29.17,18.61,17.36,103.08,-0.39,NaN,30.15,20.02,NaN,8.04,75.82,9.84,21.13,7.35,NaN,NaN,25.09,6.46,18.67,NaN,11.57,13.64,20.26,NaN,24.58,23.88,7.92,13.45,22.02,NaN,9.13,NaN,39.95,NaN,10.07,NaN,9.09,NaN,42.91,NaN,3.09,29.97,35.45,7.07,NaN,7.25,41.53,24.16,30.84
2019-09-30,33.18,27.49,19.65,17.36,98.62,-0.08,NaN,29.31,18.68,NaN,7.78,71.13,8.64,20.95,8.90,NaN,NaN,46.96,6.60,15.51,NaN,11.28,13.57,20.28,NaN,25.02,23.41,8.12,14.34,21.62,NaN,8.59,NaN,25.89,NaN,9.97,NaN,9.93,NaN,40.61,NaN,10.31,25.57,34.67,6.83,NaN,7.96,44.19,23.90,30.99

In [3]:
roi.index = pd.to_datetime(roi.index)
roi.index

DatetimeIndex(['2020-09-30', '2020-06-30', '2020-03-31', '2019-12-31',
               '2019-09-30', '2019-06-30', '2019-03-31', '2018-12-31',
               '2018-09-30', '2018-06-30',
               ...
               '2008-02-29', '2007-11-30', '2007-08-31', '2007-05-31',
               '2007-02-28', '2006-11-30', '2006-08-31', '2006-05-31',
               '2006-02-28', '2005-11-30'],
              dtype='datetime64[ns]', length=182, freq=None)

In [4]:
roi.sort_index(ascending=False,inplace=True)

In [5]:
roi = roi.loc['2020-09-30':'2010-01-01']
roi.head()

,AAPL,MSFT,AMZN,GOOG,FB,TSLA,BRK.A,V,JNJ,WMT,JPM,MA,PG,UNH,DIS,NVDA,HD,PYPL,BAC,VZ,ADBE,CMCSA,NFLX,KO,NKE,MRK,PEP,T,PFE,INTC,CRM,ABT,ORCL,ABBV,CSCO,TMO,AVGO,XOM,ACN,QCOM,COST,CVX,LLY,MCD,DHR,MDT,NEE,TXN,HON,UPS
2020-09-30,38.97,31.67,20.07,16.34,NaN,8.03,NaN,27.06,21.31,NaN,5.51,48.29,24.10,23.55,-1.40,NaN,NaN,12.51,4.05,16.66,NaN,9.92,17.14,16.32,NaN,25.58,20.38,6.46,11.17,22.14,NaN,8.89,NaN,15.17,NaN,12.03,NaN,1.82,NaN,33.59,NaN,-8.92,29.40,28.06,6.42,NaN,6.13,38.14,17.43,28.52
2020-08-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.05,NaN,NaN,NaN,21.74,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.57,NaN,NaN,NaN,NaN,NaN,39.69,NaN,23.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-07-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,16.88,NaN,NaN,NaN,NaN,NaN,20.75,60.07,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.18,NaN,NaN,NaN,27.83,NaN,5.5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.33,NaN,NaN,NaN,NaN
2020-06-30,38.43,30.21,18.74,15.90,NaN,6.21,NaN,29.02,18.87,NaN,5.44,56.04,23.12,24.62,0.64,NaN,NaN,12.11,4.52,17.32,NaN,10.71,16.91,17.34,NaN,25.11,20.87,6.97,11.19,24.07,NaN,8.29,NaN,18.81,NaN,9.38,NaN,4.09,NaN,19.59,NaN,-6.32,32.04,28.26,6.13,NaN,7.02,38.19,19.76,28.07
2020-05-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,28.87,NaN,NaN,NaN,22.47,NaN,NaN,NaN,NaN,NaN,NaN,NaN,19.66,NaN,NaN,NaN,NaN,NaN,41.56,NaN,22.35,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
roi2 = roi.resample('Q',convention='end').agg('mean').transpose()

In [7]:
roi2['Mean'] = roi2.mean(axis=1)
roi2.head()

,2010-03-31 00:00:00,2010-06-30 00:00:00,2010-09-30 00:00:00,2010-12-31 00:00:00,2011-03-31 00:00:00,2011-06-30 00:00:00,2011-09-30 00:00:00,2011-12-31 00:00:00,2012-03-31 00:00:00,2012-06-30 00:00:00,2012-09-30 00:00:00,2012-12-31 00:00:00,2013-03-31 00:00:00,2013-06-30 00:00:00,2013-09-30 00:00:00,2013-12-31 00:00:00,2014-03-31 00:00:00,2014-06-30 00:00:00,2014-09-30 00:00:00,2014-12-31 00:00:00,2015-03-31 00:00:00,2015-06-30 00:00:00,2015-09-30 00:00:00,2015-12-31 00:00:00,2016-03-31 00:00:00,2016-06-30 00:00:00,2016-09-30 00:00:00,2016-12-31 00:00:00,2017-03-31 00:00:00,2017-06-30 00:00:00,2017-09-30 00:00:00,2017-12-31 00:00:00,2018-03-31 00:00:00,2018-06-30 00:00:00,2018-09-30 00:00:00,2018-12-31 00:00:00,2019-03-31 00:00:00,2019-06-30 00:00:00,2019-09-30 00:00:00,2019-12-31 00:00:00,2020-03-31 00:00:00,2020-06-30 00:00:00,2020-09-30 00:00:00,Mean
AAPL,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,142.29,69.79,46.09,35.63,35.78,36.57,40.64,41.58,42.45,42.48,40.87,36.78,33.56,30.76,29.42,28.81,28.21,27.94,28.05,28.54,29.66,32.03,31.91,31.95,32.65,33.18,35.64,36.76,38.43,38.97,39.580667
MSFT,47.71,49.80,52.11,49.01,46.57,43.61,41.31,38.44,37.37,28.54,25.45,24.50,25.41,31.19,30.97,29.44,27.37,26.53,25.19,24.77,23.89,16.34,16.42,14.59,13.49,23.13,22.68,23.72,23.45,20.43,19.89,19.63,20.41,22.43,24.26,24.88,25.83,26.52,27.49,29.17,30.02,30.21,31.67,28.740465
AMZN,39.92,36.01,30.76,21.04,17.71,14.87,11.46,9.28,7.74,6.72,5.57,6.53,6.18,5.69,5.49,6.17,5.64,4.71,0.72,1.19,1.76,4.28,8.71,10.97,14.30,17.20,16.95,16.63,15.39,12.23,9.47,10.13,10.65,13.57,18.55,20.15,22.75,21.53,19.65,18.61,17.13,18.74,20.07,13.553953
GOOG,NaN,NaN,NaN,NaN,NaN,77.89,39.78,27.01,21.52,20.99,19.46,19.90,19.45,18.91,19.35,18.44,17.99,17.97,17.15,16.37,16.03,16.00,16.30,16.61,16.87,17.26,17.42,17.68,17.82,15.88,16.60,16.93,17.17,16.14,16.34,16.04,14.95,17.66,17.36,17.36,17.58,15.90,16.34,19.905789
FB,NaN,NaN,NaN,171.31,208.79,240.13,272.97,132.68,63.79,9.73,5.72,4.50,3.79,13.02,15.95,19.68,23.31,26.89,27.56,21.48,17.07,14.05,12.39,15.27,23.29,40.83,94.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,97.90,92.58,98.62,103.08,NaN,NaN,NaN,66.800714

In [8]:
roi2['results'] = roi2['Mean'] >= 10

In [9]:
roi2 = roi2.sort_values('Mean',ascending=False)

In [40]:
roi2=roi2[['Mean','results']]
roi2.to_csv('Results/result-roi.csv')
roi2.head()

           Mean  results
ACN   84.799767     True
MA    78.922424     True
FB    66.800714     True
HD    40.548837     True
AAPL  39.580667     True

### Revenue
* Revenue is the income generated from normal business operations and includes discounts and deductions for returned merchandise.
* It is the top line or gross income figure from which costs are subtracted to determine net income.
* Looking for growth (2020 = 10, 2019 = 8, 2018 = 4)
$$
Revenue = \text{Sales Price × Number Of Units Sold}
$$

In [47]:
rev = pd.read_csv('PyFinance/04 - Intrinsic Value/50-rev.csv',index_col=0)
rev.head()

,AAPL,MSFT,AMZN,GOOG,FB,TSLA,BRK.A,V,JNJ,WMT,JPM,MA,PG,UNH,DIS,NVDA,HD,PYPL,BAC,VZ,ADBE,CMCSA,NFLX,KO,NKE,MRK,PEP,T,PFE,INTC,CRM,ABT,ORCL,ABBV,CSCO,TMO,AVGO,XOM,ACN,QCOM,COST,CVX,LLY,MCD,DHR,MDT,NEE,TXN,HON,UPS
2005,13931,39788,8490.0,6139.0,NaN,NaN,81663.0,2665,50514.0,284310,79768.0,2938.0,56741,46425.0,31374,2010,73094,NaN,85064.0,69518.0,1966,21075.0,682.0,23104.0,13740,22012.0,32562.0,43764.0,47405.0,38826.0,176,22338.0,11799,NaN,24801,2633.0,NaN,370680.0,17094,5673,52952,198200.0,14645.0,19117.0,7871.0,10055,11846.0,12335.0,27652.0,42581.0
2006,19315,44282,10711.0,10605.0,NaN,NaN,98539.0,2948,53324.0,312101,99864.0,3326.0,68222,71542.0,33747,2376,77019,NaN,116767.0,88182.0,2575,24966.0,997.0,24088.0,14955,22636.0,35137.0,63055.0,48371.0,35382.0,310,22476.0,14380,NaN,28484,3792.0,NaN,377635.0,18228,7526,60151,210118.0,15691.0,20895.0,9466.0,11292,15710.0,14255.0,31367.0,47547.0
2007,24578,51122,14835.0,16594.0,153.0,NaN,118245.0,3590,61095.0,348368,116353.0,4068.0,74832,75431.0,35510,3069,79022,NaN,119696.0,93469.0,3158,31060.0,1205.0,28857.0,16326,24198.0,39474.0,118928.0,48418.0,38334.0,497,25914.0,17996,NaN,34922,9746.0,1527.0,404552.0,21453,8871,64401,220904.0,18634.0,22787.0,11026.0,12299,15263.0,13835.0,34589.0,49692.0
2008,37491,60420,19166.0,21796.0,272.0,15.0,107786.0,6263,63747.0,377023,101491.0,4992.0,79257,81186.0,37843,4098,77349,NaN,113106.0,97354.0,3580,34423.0,1365.0,31944.0,18627,23850.0,43251.0,123443.0,48296.0,37586.0,749,29528.0,22430,NaN,39540,10498.0,1699.0,477359.0,25314,11142,72483,273005.0,20372.0,23522.0,12697.0,13515,16410.0,12501.0,36556.0,51486.0
2009,42905,58437,24509.0,23651.0,777.0,112.0,112493.0,6911,61897.0,404254,115632.0,5099.0,76694,87138.0,36149,3425,71288,NaN,150450.0,107808.0,2946,35756.0,1670.0,30990.0,19176,27428.0,43232.0,122513.0,49269.0,35127.0,1077,30765.0,23252,14214.0,36117,9912.0,1484.0,310586.0,23171,10387,71422,171636.0,21836.0,22745.0,10517.0,14599,15643.0,10427.0,29951.0,45297.0

In [48]:
rev = rev.loc[2009:2019]
rev.head()

,AAPL,MSFT,AMZN,GOOG,FB,TSLA,BRK.A,V,JNJ,WMT,JPM,MA,PG,UNH,DIS,NVDA,HD,PYPL,BAC,VZ,ADBE,CMCSA,NFLX,KO,NKE,MRK,PEP,T,PFE,INTC,CRM,ABT,ORCL,ABBV,CSCO,TMO,AVGO,XOM,ACN,QCOM,COST,CVX,LLY,MCD,DHR,MDT,NEE,TXN,HON,UPS
2009,42905,58437,24509.0,23651.0,777.0,112.0,112493.0,6911,61897.0,404254,115632.0,5099.0,76694,87138.0,36149,3425,71288,NaN,150450.0,107808.0,2946,35756.0,1670.0,30990.0,19176,27428.0,43232.0,122513.0,49269.0,35127.0,1077,30765.0,23252,14214.0,36117,9912.0,1484.0,310586.0,23171,10387,71422,171636.0,21836.0,22745.0,10517.0,14599,15643.0,10427.0,29951.0,45297.0
2010,65225,62484,34204.0,29321.0,1974.0,117.0,136185.0,8065,61587.0,408085,115475.0,5539.0,77567,94155.0,38063,3326,66176,NaN,134194.0,106565.0,3800,37937.0,2163.0,35119.0,19014,45987.0,57838.0,124280.0,65165.0,43623.0,1306,35167.0,26820,15638.0,40040,10393.0,2093.0,383221.0,23094,10982,77946,204928.0,23076.0,24075.0,12550.0,15392,15317.0,13966.0,32350.0,49545.0
2011,108249,69943,48077.0,37905.0,3711.0,204.0,143688.0,9188,65030.0,421849,110838.0,6714.0,81104,101862.0,40893,3543,67997,NaN,115074.0,110875.0,4216,55842.0,3205.0,46542.0,20117,48047.0,66504.0,126723.0,61035.0,53999.0,1657,21407.0,35622,17444.0,43218,11559.0,2336.0,486429.0,27353,14957,88915,253706.0,24287.0,27006.0,16091.0,15508,15341.0,13735.0,36529.0,53105.0
2012,156508,73723,61093.0,46039.0,5089.0,413.0,162463.0,10421,67224.0,446509,108074.0,7391.0,82006,110618.0,42278,3998,70395,5662.0,100078.0,115846.0,4404,62570.0,3609.0,48017.0,23331,47267.0,65492.0,127434.0,54657.0,53341.0,2267,19050.0,37121,18380.0,46061,12510.0,2364.0,480681.0,29778,19121,99137,241909.0,22603.0,27567.0,18260.0,16184,14256.0,12825.0,37665.0,54127.0
2013,170910,77849,74452.0,55519.0,7872.0,2013.0,182150.0,11778,71312.0,468651,106717.0,8312.0,80116,122489.0,45041,4280,74754,6727.0,101697.0,120550.0,4055,64657.0,4375.0,46854.0,25313,44033.0,66415.0,128752.0,51584.0,52708.0,3050,19657.0,37180,18790.0,48607,13090.0,2520.0,438255.0,30394,24866,105156,228848.0,23113.0,28106.0,18283.0,16590,15136.0,12205.0,39055.0,55438.0

In [49]:
rev2 = rev.transpose()
rev2.head()

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
AAPL,42905.0,65225.0,108249.0,156508.0,170910.0,182795.0,233715.0,215639.0,229234.0,265595.0,260174.0
MSFT,58437.0,62484.0,69943.0,73723.0,77849.0,86833.0,93580.0,91154.0,96571.0,110360.0,125843.0
AMZN,24509.0,34204.0,48077.0,61093.0,74452.0,88988.0,107006.0,135987.0,177866.0,232887.0,280522.0
GOOG,23651.0,29321.0,37905.0,46039.0,55519.0,66001.0,74989.0,90272.0,110855.0,136819.0,161857.0
FB,777.0,1974.0,3711.0,5089.0,7872.0,12466.0,17928.0,27638.0,40653.0,55838.0,70697.0

## Compound Annual Growth Rate (CAGR)
### We need to calculate the comany anual growth rate.
### CAGR is the rate of return that would be required for an investment to grow from its beginning balance to its ending balance.

$$
\ CAGR = (\frac{ EV } { BN }) ^ \frac{ 1 } { N } - 1
$$​

In [50]:
rev2['10Y CAGR'] = (rev2[2019]/rev2[2009])**(1/10)-1
rev2['5Y CAGR'] = (rev2[2019]/rev2[2014])**(1/5)-1
rev2['3Y CAGR'] = (rev2[2019]/rev2[2016])**(1/3)-1
rev2['1Y CAGR'] = (rev2[2019]/rev2[2018])**(1/1)-1
rev2 = rev2.sort_values('1Y CAGR',ascending=False)
rev2=rev2[['10Y CAGR','5Y CAGR','3Y CAGR','1Y CAGR']]
rev2.to_csv('Results/Rev.csv')
rev2.head()

      10Y CAGR   5Y CAGR   3Y CAGR   1Y CAGR
NFLX  0.282829  0.296371  0.316633  0.276181
FB    0.569994  0.414929  0.367618  0.266109
CRM   0.285597  0.266813  0.258281  0.260152
ADBE  0.142578  0.219191  0.240356  0.237099
NVDA  0.130868  0.231873  0.327335  0.206094

## Earnings per Share(EPS)
* EPS is calculated as a company's profit divided by the outstanding shares of its common stock. 
* The resulting number serves as an indicator of a company's profitability.
* Bottom line number of income Statement.
* We must to make sure that the growth in revenue give growth in earnings.
* We take care about the growth rate.
$$
\text{Earnings per Share}=\frac{\text{Net Income}-\text{ Preferred Dividends}}{\text{End-of-Period Common Shares Outstanding}}
$$

In [19]:
eps = pd.read_csv('PyFinance/04 - Intrinsic Value/50-eps.csv',index_col=0)
eps.head()

,AAPL,MSFT,AMZN,GOOG,FB,TSLA,BRK.A,V,JNJ,WMT,JPM,MA,PG,UNH,DIS,NVDA,HD,PYPL,BAC,VZ,ADBE,CMCSA,NFLX,KO,NKE,MRK,PEP,T,PFE,INTC,CRM,ABT,ORCL,ABBV,CSCO,TMO,AVGO,XOM,ACN,QCOM,COST,CVX,LLY,MCD,DHR,MDT,NEE,TXN,HON,UPS
2005,0.06,1.12,0.84,2.51,NaN,NaN,3.57,0.00,3.35,2.41,2.38,0.20,2.53,2.31,1.22,0.17,2.26,NaN,4.04,2.65,1.19,0.14,0.09,1.02,0.56,2.10,2.39,1.42,1.09,1.40,0.02,2.16,0.55,NaN,0.87,1.36,NaN,5.71,1.56,1.26,2.18,6.54,1.81,2.04,1.38,1.48,0.59,1.39,1.92,3.47
2006,0.08,1.20,0.45,4.97,NaN,NaN,4.61,0.00,3.73,2.68,4.04,0.04,2.64,2.97,1.64,0.55,2.72,NaN,4.59,2.12,0.83,0.40,0.10,1.08,0.66,2.03,3.34,1.89,2.66,0.86,0.06,1.12,0.64,NaN,0.89,0.84,NaN,6.62,1.59,1.44,2.30,7.80,2.45,2.83,1.74,2.09,0.81,2.78,2.52,3.86
2007,0.14,1.42,1.12,6.65,-0.16,NaN,5.70,0.00,3.63,2.71,4.33,0.80,3.04,3.42,2.25,0.76,2.79,NaN,3.29,1.90,1.21,0.42,0.14,1.29,0.73,1.49,3.41,1.94,1.17,1.18,0.00,2.31,0.81,NaN,1.17,1.69,-0.74,7.26,1.97,1.95,2.37,8.77,2.71,1.98,2.10,2.41,0.82,1.83,3.16,0.36
2008,0.24,1.87,1.49,6.66,-0.06,-2.49,2.15,0.15,4.57,3.13,1.35,-0.19,3.64,2.40,2.28,1.31,2.37,NaN,0.54,-0.77,1.59,0.43,0.19,1.25,0.94,3.63,3.21,-0.44,1.20,0.92,0.04,3.12,1.06,NaN,1.31,2.25,0.38,8.66,2.64,1.90,2.89,11.67,-1.89,3.76,1.98,1.87,1.02,1.44,1.08,2.94
2009,0.32,1.62,2.04,10.21,0.10,-1.59,3.46,0.51,4.40,3.39,2.26,1.12,4.26,3.24,1.76,-0.05,1.34,NaN,-0.29,1.72,0.73,0.63,0.28,1.47,0.76,5.65,3.77,2.05,1.23,0.77,0.09,3.69,1.09,0.0,1.05,2.01,-0.20,3.98,2.44,0.95,2.47,5.24,3.94,4.11,1.73,1.84,0.99,1.15,2.05,1.96

In [20]:
eps = eps.loc[2009:2019]
eps = eps.transpose()
eps.head()

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
AAPL,0.32,0.54,0.99,1.58,1.42,1.61,2.31,2.08,2.30,2.98,2.97
MSFT,1.62,2.10,2.69,2.00,2.58,2.63,1.48,2.56,3.25,2.13,5.06
AMZN,2.04,2.53,1.37,-0.09,0.59,-0.52,1.25,4.90,6.15,20.14,23.01
GOOG,10.21,13.16,14.88,16.16,18.79,20.57,22.84,27.85,18.00,43.70,49.16
FB,0.10,0.28,0.46,0.01,0.60,1.10,1.29,3.49,5.39,7.57,6.43

In [23]:
eps['10Y CAGR'] = (eps[2019]/eps[2009])**(1/10)-1
eps['5Y CAGR'] = (eps[2019]/eps[2014])**(1/5)-1
eps['3Y CAGR'] = (eps[2019]/eps[2016])**(1/3)-1
eps['1Y CAGR'] = (eps[2019]/eps[2018])**(1/1)-1
eps = eps.sort_values('1Y CAGR',ascending=False)
eps= eps[['10Y CAGR','5Y CAGR','3Y CAGR','1Y CAGR']]
eps.to_csv('Results/eps.csv')
eps.head()

       10Y CAGR   5Y CAGR   3Y CAGR     1Y CAGR
CSCO   0.095330  0.118641  0.073460  129.500000
BRK.A  0.253736  0.327274  0.503936   19.368098
ORCL   0.105434  0.045288  0.127878    2.494118
CRM    0.318589       NaN       NaN    1.918367
LLY    0.084777  0.318619  0.510407    1.840256

### Book Value per Share (BVPS)
Book value is equal to the cost of carrying an asset on a company's balance sheet, and firms calculate it netting the asset against its accumulated depreciation.
* if we sell today, what is left for every share?
* Ensure growth in the book value.
* Best indicator of growth value

In [29]:
bvps = pd.read_csv('PyFinance/04 - Intrinsic Value/50-bvps.csv',index_col=0)
bvps.head()

,AAPL,MSFT,AMZN,GOOG,FB,TSLA,BRK.A,V,JNJ,WMT,JPM,MA,PG,UNH,DIS,NVDA,HD,PYPL,BAC,VZ,ADBE,CMCSA,NFLX,KO,NKE,MRK,PEP,T,PFE,INTC,CRM,ABT,ORCL,ABBV,CSCO,TMO,AVGO,XOM,ACN,QCOM,COST,CVX,LLY,MCD,DHR,MDT,NEE,TXN,HON,UPS
2021-01-08,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2020-09-30,3.85,16.31,164.89,314.17,41.31,17.82,303.74,18.67,24.49,NaN,88.94,5.87,19.59,71.76,49.56,NaN,NaN,15.81,31.04,16.08,NaN,19.14,23.39,4.73,NaN,11.57,9.83,27.38,11.79,18.19,NaN,17.83,NaN,8.66,NaN,80.30,NaN,43.66,NaN,5.37,NaN,70.71,5.22,-11.37,53.46,NaN,21.46,9.07,26.10,6.49
2020-06-30,4.22,15.63,147.16,304.34,38.75,11.53,284.80,18.28,23.92,NaN,86.78,6.47,18.90,70.02,50.79,NaN,NaN,15.08,30.66,15.49,NaN,18.56,21.17,4.47,NaN,10.97,9.09,27.15,11.62,19.28,NaN,17.39,NaN,8.35,NaN,75.52,NaN,44.27,NaN,2.93,NaN,71.97,4.47,-12.72,51.15,NaN,21.21,8.35,26.17,5.07
2020-03-31,4.53,15.09,130.81,297.76,36.94,10.85,270.69,17.75,23.28,NaN,85.74,5.40,18.56,63.21,53.27,NaN,NaN,13.65,30.54,14.90,NaN,18.14,19.12,4.62,NaN,10.42,9.76,27.43,11.77,18.03,NaN,17.20,NaN,-5.02,NaN,72.31,NaN,44.64,NaN,2.70,NaN,77.62,3.34,-12.50,44.57,NaN,20.90,8.39,25.45,3.85
2019-12-31,5.10,14.47,124.62,292.65,35.43,8.25,309.39,17.95,22.59,NaN,84.74,5.88,18.59,63.75,53.21,NaN,NaN,14.43,29.97,15.19,NaN,18.42,17.28,4.93,NaN,10.24,10.69,27.84,11.46,18.07,NaN,17.76,NaN,-5.53,NaN,74.42,NaN,46.99,NaN,3.95,NaN,77.15,2.82,-11.00,43.54,NaN,21.15,9.56,26.31,3.83

In [30]:
bvps.index = pd.to_datetime(bvps.index)
bvps.index

DatetimeIndex(['2021-01-08', '2020-09-30', '2020-06-30', '2020-03-31',
               '2019-12-31', '2019-09-30', '2019-06-30', '2019-03-31',
               '2018-12-31', '2018-09-30',
               ...
               '2008-02-29', '2007-11-30', '2007-08-31', '2007-05-31',
               '2007-02-28', '2006-11-30', '2006-08-31', '2006-05-31',
               '2006-02-28', '2020-11-30'],
              dtype='datetime64[ns]', length=180, freq=None)

In [31]:
bvps.sort_index(ascending=False,inplace=True)
bvps=bvps.resample('Q',convention='end').agg('mean')

In [32]:
bvps = bvps.loc['2010-09-01':'2020-10-01']
bvps.head()

,AAPL,MSFT,AMZN,GOOG,FB,TSLA,BRK.A,V,JNJ,WMT,JPM,MA,PG,UNH,DIS,NVDA,HD,PYPL,BAC,VZ,ADBE,CMCSA,NFLX,KO,NKE,MRK,PEP,T,PFE,INTC,CRM,ABT,ORCL,ABBV,CSCO,TMO,AVGO,XOM,ACN,QCOM,COST,CVX,LLY,MCD,DHR,MDT,NEE,TXN,HON,UPS
2010-09-30,1.86,5.48,14.25,NaN,NaN,0.47,150.01,7.49,20.85,18.30,44.28,3.71,22.58,23.30,20.74,4.81,11.67,NaN,22.97,29.94,9.91,7.86,0.52,6.09,5.05,18.85,12.79,19.17,10.99,8.55,2.42,13.90,6.47,NaN,7.83,38.74,5.58,29.86,4.75,12.94,25.21,51.16,10.76,12.91,20.14,13.52,8.46,8.48,13.42,8.62
2010-12-31,2.12,5.77,15.22,NaN,NaN,0.44,154.89,7.67,20.66,18.98,45.04,3.98,23.10,23.78,21.20,4.99,11.64,NaN,22.63,30.74,10.35,8.00,0.79,6.83,5.20,18.43,13.58,18.94,11.02,8.97,2.31,14.72,6.90,NaN,8.01,39.25,6.27,30.66,4.75,13.91,26.83,52.71,10.76,13.89,20.98,13.81,8.59,8.94,13.78,8.14
2011-03-31,2.37,6.34,16.25,NaN,NaN,0.35,154.78,7.88,21.86,20.26,45.30,4.05,24.16,24.67,21.73,5.41,11.64,NaN,22.79,31.41,10.74,8.42,0.75,7.13,5.22,18.42,14.97,19.07,11.46,8.87,2.40,15.90,7.32,NaN,8.26,39.80,6.75,31.98,5.76,15.01,27.73,55.14,12.04,13.93,22.17,14.36,8.65,9.11,15.01,8.35
2011-06-30,2.67,6.82,17.10,NaN,NaN,0.67,156.35,7.98,22.67,19.54,46.77,4.31,24.59,25.60,22.48,5.74,11.39,NaN,21.93,32.05,10.92,8.53,0.91,7.72,5.26,18.79,15.39,19.26,11.40,9.22,2.34,17.01,7.94,NaN,8.58,41.02,7.28,33.29,5.99,15.68,28.65,58.13,12.33,14.49,24.15,14.92,8.82,9.44,15.57,8.49
2011-09-30,2.94,7.06,17.07,NaN,NaN,0.56,153.40,8.14,22.52,21.04,47.98,4.71,23.86,26.44,21.92,6.11,11.62,NaN,22.72,30.91,11.29,8.63,1.06,7.38,5.33,18.87,15.31,19.22,11.78,9.01,2.62,15.85,8.16,NaN,8.70,40.17,7.62,33.84,6.30,16.05,28.95,61.10,13.01,13.04,24.13,15.47,8.81,9.65,15.21,8.16

In [33]:
bvps2 = bvps.copy()
bvps2 = bvps2.transpose()
bvps2.head()

,2010-09-30,2010-12-31,2011-03-31,2011-06-30,2011-09-30,2011-12-31,2012-03-31,2012-06-30,2012-09-30,2012-12-31,2013-03-31,2013-06-30,2013-09-30,2013-12-31,2014-03-31,2014-06-30,2014-09-30,2014-12-31,2015-03-31,2015-06-30,2015-09-30,2015-12-31,2016-03-31,2016-06-30,2016-09-30,2016-12-31,2017-03-31,2017-06-30,2017-09-30,2017-12-31,2018-03-31,2018-06-30,2018-09-30,2018-12-31,2019-03-31,2019-06-30,2019-09-30,2019-12-31,2020-03-31,2020-06-30,2020-09-30
AAPL,1.86,2.12,2.37,2.67,2.94,3.45,3.92,4.26,4.50,4.84,5.15,4.85,4.91,5.19,4.98,5.05,4.75,5.29,5.60,5.51,5.35,5.78,5.95,5.87,6.01,6.30,6.44,6.40,6.54,6.90,6.42,5.93,5.63,6.23,5.74,5.32,5.09,5.10,4.53,4.22,3.85
MSFT,5.48,5.77,6.34,6.82,7.06,7.65,8.17,7.92,8.17,8.67,9.19,9.48,9.78,10.25,10.58,10.90,10.92,11.18,11.11,9.98,9.70,9.69,9.51,9.22,9.04,8.90,9.03,11.38,11.61,10.17,10.30,10.77,11.19,11.99,12.37,13.39,13.89,14.47,15.09,15.63,16.31
AMZN,14.25,15.22,16.25,17.10,17.07,17.05,16.16,16.60,16.67,18.04,18.53,19.11,19.84,21.23,22.45,22.95,22.32,23.10,23.33,25.15,26.50,28.42,31.26,34.89,37.44,40.43,45.34,48.36,51.16,57.25,64.87,71.86,80.01,88.69,98.39,107.41,114.16,124.62,130.81,147.16,164.89
GOOG,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,135.98,141.66,145.69,152.70,158.94,163.07,169.03,175.07,179.92,186.20,194.60,201.12,209.43,214.02,226.11,219.50,231.42,232.78,244.04,255.38,264.07,276.91,282.19,292.65,297.76,304.34,314.17
FB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.21,6.54,4.98,4.94,5.11,5.35,6.10,6.56,7.15,8.18,12.99,13.45,14.09,14.72,15.60,16.54,17.60,18.82,20.47,21.46,22.92,24.52,25.58,26.75,27.46,27.96,29.48,30.29,31.10,32.94,35.43,36.94,38.75,41.31

In [35]:
# We creat a new DataFrame beacuse we don't eant to destory the name variable's types.

results = pd.DataFrame(data=None,index=bvps2.index)
results['10Y CAGR'] = (bvps2['2020-09-30']/bvps2['2010-09-30'])**(1/10)-1
results['5Y CAGR'] = (bvps2['2020-09-30']/bvps2['2015-09-30'])**(1/10)-1
results['3Y CAGR'] = (bvps2['2020-09-30']/bvps2['2017-09-30'])**(2/10)-1
results['1Y CAGR'] = (bvps2['2020-09-30']/bvps2['2019-09-30'])-1
results = results.sort_values('1Y CAGR',ascending=False)
results.to_csv('Results/bvps.csv')
results.head()

      10Y CAGR   5Y CAGR   3Y CAGR   1Y CAGR
TSLA  0.438404  0.243859  0.210013  1.329412
CRM   0.331323  0.199414  0.291957  0.923217
NFLX  0.463197  0.165205  0.249168  0.493614
LLY  -0.069780 -0.092312 -0.174171  0.445983
AMZN  0.277432  0.200590  0.263726  0.444376

### Free Cash Flow (FCF)
* Free cash flow (FCF) represents the cash available for the company to repay creditors or pay dividends and interest to investors.
* What is left for dividend or working capital.
* What is left to growth the company. We looking for growth.
* FCF reconciles net income by adjusting for non-cash expenses, changes in working capital, and capital expenditures (CAPEX).
* However, as a supplemental tool for analysis, FCF can reveal problems in the fundamentals before they arise on the income statement.

In [36]:
fcf=pd.read_csv('PyFinance/04 - Intrinsic Value/50-fcf.csv',index_col=0)
fcf.head()

,AAPL,MSFT,AMZN,GOOG,FB,TSLA,BRK.A,V,JNJ,WMT,JPM,MA,PG,UNH,DIS,NVDA,HD,PYPL,BAC,VZ,ADBE,CMCSA,NFLX,KO,NKE,MRK,PEP,T,PFE,INTC,CRM,ABT,ORCL,ABBV,CSCO,TMO,AVGO,XOM,ACN,QCOM,COST,CVX,LLY,MCD,DHR,MDT,NEE,TXN,HON,UPS
2005,2275.0,15793.0,529.0,1621.21,NaN,NaN,7251.0,361.36,9321.0,3166.0,-30236.0,190.85,7015.0,3574.0,2326.0,64.94,2780.0,NaN,-13451.0,7061.0,709.51,1214.0,129.85,5612.0,1320.8,6205.8,4204.0,7398.0,12627.0,8980.0,51.56,3839.91,3364.0,NaN,6876.0,243.5,NaN,34299.0,1575.63,2110.0,799.96,11404.0,626.6,2730.0,1102.85,2372.0,-930.0,2362.0,1829.0,3633.0
2006,1563.0,12826.0,486.0,1677.71,NaN,NaN,5624.0,348.00,12093.0,4753.0,-49579.0,555.69,9590.0,5850.0,4668.0,366.81,2903.0,NaN,13761.0,7005.0,816.70,2223.0,220.86,5190.0,1335.8,5785.0,4065.0,7368.0,15544.0,4772.0,72.46,3924.27,4445.0,NaN,7127.0,334.7,NaN,33824.0,2375.77,2568.0,630.46,10510.0,2963.3,2599.6,1420.83,1813.0,-1221.0,4184.0,2565.0,2579.0
2007,4735.0,15532.0,1181.0,3372.57,NaN,NaN,7177.0,345.00,12537.0,4963.0,-110560.0,613.44,10746.0,5006.0,3832.0,441.86,4257.0,NaN,8893.0,9301.0,1308.98,2031.0,233.17,5741.0,1593.5,5988.2,4551.0,16525.0,11473.0,7625.0,89.10,3527.64,5203.0,NaN,8853.0,1327.2,109.0,36615.0,2280.74,2993.0,715.00,8299.0,4104.4,2929.7,1499.24,2406.0,-726.0,3782.0,3242.0,-1612.0
2008,8505.0,18430.0,1364.0,5494.00,NaN,-63.04,5114.0,120.00,12691.0,6662.0,52780.0,242.00,12890.0,3632.0,4123.0,1082.45,2487.0,NaN,1936.0,10319.0,1168.89,4481.0,240.25,5732.0,1489.0,5274.0,4651.0,13979.0,16537.0,5729.0,160.72,5706.90,7312.0,NaN,10821.0,1171.2,148.0,40407.0,2493.72,2161.0,655.00,9966.0,6374.1,3781.5,1666.33,2976.0,-1833.0,2567.0,2960.0,5937.0
2009,9015.0,15918.0,2920.0,8506.00,122.0,-92.71,10909.0,252.00,14360.0,12362.0,122797.0,1238.00,12768.0,4886.0,3566.0,-158.31,3828.0,NaN,127491.0,14518.0,998.20,5164.0,279.13,6297.0,1313.0,1931.0,4726.0,17851.0,15382.0,6655.0,168.50,6186.11,7726.0,5054.77,8892.0,1472.6,82.0,5947.0,2921.41,6411.0,849.00,-470.0,3588.2,3798.9,1630.41,3380.0,-1543.0,1890.0,3368.0,3743.0

In [37]:
fcf=fcf.loc[2009:2019]
fcf=fcf.transpose()
fcf.head()

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
AAPL,9015.0,16590.0,33269.0,42561.0,45501.0,50142.0,70019.0,53497.0,51774.0,64121.0,58896.0
MSFT,15918.0,22096.0,24639.0,29321.0,24576.0,27017.0,23724.0,24982.0,31378.0,32252.0,38260.0
AMZN,2920.0,2516.0,2092.0,395.0,2031.0,1949.0,7450.0,10466.0,8307.0,19400.0,25825.0
GOOG,8506.0,7063.0,11127.0,13346.0,11301.0,12065.0,16657.0,26064.0,23907.0,22832.0,30972.0
FB,122.0,405.0,943.0,377.0,2860.0,5495.0,7797.0,11617.0,17483.0,15359.0,21212.0

In [38]:
fcf['10Y CAGR'] = (fcf[2019]/fcf[2009])**(1/10) -1
fcf['5Y CAGR'] = (fcf[2019]/fcf[2014])**(1/5) -1
fcf['3Y CAGR'] = (fcf[2019]/fcf[2016])**(1/3) -1
fcf['1Y CAGR'] = (fcf[2019]/fcf[2018])**(1/1) -1
fcf.head()

,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019,10Y CAGR,5Y CAGR,3Y CAGR,1Y CAGR
AAPL,9015.0,16590.0,33269.0,42561.0,45501.0,50142.0,70019.0,53497.0,51774.0,64121.0,58896.0,0.206457,0.032706,0.032568,-0.081487
MSFT,15918.0,22096.0,24639.0,29321.0,24576.0,27017.0,23724.0,24982.0,31378.0,32252.0,38260.0,0.091656,0.072066,0.152672,0.186283
AMZN,2920.0,2516.0,2092.0,395.0,2031.0,1949.0,7450.0,10466.0,8307.0,19400.0,25825.0,0.243557,0.676663,0.351304,0.331186
GOOG,8506.0,7063.0,11127.0,13346.0,11301.0,12065.0,16657.0,26064.0,23907.0,22832.0,30972.0,0.137953,0.207503,0.059195,0.356517
FB,122.0,405.0,943.0,377.0,2860.0,5495.0,7797.0,11617.0,17483.0,15359.0,21212.0,0.675028,0.310155,0.222257,0.381079

In [39]:
data =fcf[['10Y CAGR','5Y CAGR','3Y CAGR','1Y CAGR']]
data = data.sort_values('1Y CAGR',ascending=False)
data.to_csv('Results/fcf.csv')
data.head()

      10Y CAGR   5Y CAGR   3Y CAGR   1Y CAGR
MDT   0.056804  0.051773  0.120741  0.624170
BAC  -0.069889  0.149395  0.529160  0.563183
KO    0.040822  0.021864  0.120401  0.484906
FB    0.675028  0.310155  0.222257  0.381079
GOOG  0.137953  0.207503  0.059195  0.356517