In [1]:
import pandas as pd
import re
import json
import csv
from io import StringIO
from bs4 import BeautifulSoup
import requests

In [2]:
url = 'https://en.wikipedia.org/wiki/List_of_countries_by_past_and_projected_GDP_(PPP)'
tables= pd.read_html(url)

In [3]:
tables[0]

,Country (or dependent territory),1980,1981,1982,1983,1984,1985,1986,1987,1988,1989
0,Afghanistan,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Albania,5547.0,6410.0,7005.0,7362.0,7776.0,7904.0,8515.0,8662.0,8840.0,10084.0
2,Algeria,86255.0,97138.0,109768.0,120263.0,131504.0,143312.0,145909.0,148586.0,150865.0,164255.0
3,Angola,14949.0,15626.0,16595.0,17975.0,19729.0,21073.0,22122.0,23613.0,25937.0,26957.0
4,Antigua and Barbuda,276.0,312.0,328.0,363.0,415.0,460.0,508.0,558.0,609.0,671.0
...,...,...,...,...,...,...,...,...,...,...,...
187,Venezuela,117193.0,126484.0,137885.0,129202.0,140775.0,146540.0,158584.0,170439.0,187890.0,168025.0
188,Vietnam,23595.0,27294.0,31350.0,34899.0,39172.0,42697.0,45020.0,47346.0,51502.0,57678.0
189,Yemen,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
190,Zambia,8014.0,9343.0,9634.0,9899.0,10075.0,10526.0,10920.0,11366.0,12854.0,12866.0
191,Zimbabwe,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
len(tables)

9

## Scrap Yahoo Finance

In [6]:
url_stats='https://finance.yahoo.com/quote/{}/key-statistics?p={}'
url_data='https://finance.yahoo.com/quote/{}/history?p={}'
url_profile='https://finance.yahoo.com/quote/{}/profile?p={}'
url_financials='https://finance.yahoo.com/quote/{}/financials?p={}'
tiker='TSLA'

In [8]:
response = requests.get(url_financials.format(tiker,tiker))

In [ ]:
soup=BeatiBeautifulSoup(resp.text,'html.parser')