## Data Sources:
* Pandas Datareader: Remote data acces for Pandas. https://pandas-datareader.readthedocs.io/en/latest/
* Yahoo Finantials
* Web Scrapping

In [3]:
import pandas_datareader as pdr
import datetime as dt

In [4]:
start = dt.datetime(2020,1,1)

In [6]:
aapl = pdr.get_data_yahoo("AAPL", start)
aapl

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,75.150002,73.797501,74.059998,75.087502,135480400.0,74.207466
2020-01-03,75.144997,74.125000,74.287498,74.357498,146322800.0,73.486023
2020-01-06,74.989998,73.187500,73.447502,74.949997,118387200.0,74.071579
2020-01-07,75.224998,74.370003,74.959999,74.597504,108872000.0,73.723213
2020-01-08,76.110001,74.290001,74.290001,75.797501,132079200.0,74.909149
...,...,...,...,...,...,...
2021-06-04,126.160004,123.849998,124.070000,125.889999,75087300.0,125.889999
2021-06-07,126.320000,124.830002,126.169998,125.900002,71057600.0,125.900002
2021-06-08,128.460007,126.209999,126.599998,126.739998,74403800.0,126.739998
2021-06-09,127.750000,126.519997,127.209999,127.129997,56877900.0,127.129997
2021-06-10,128.190002,125.940002,127.019997,126.110001,71086200.0,126.110001

In [9]:
aapl.dtypes

High         float64
Low          float64
Open         float64
Close        float64
Volume       float64
Adj Close    float64
dtype: object

In [10]:
aapl.index

DatetimeIndex(['2020-01-02', '2020-01-03', '2020-01-06', '2020-01-07',
               '2020-01-08', '2020-01-09', '2020-01-10', '2020-01-13',
               '2020-01-14', '2020-01-15',
               ...
               '2021-05-27', '2021-05-28', '2021-06-01', '2021-06-02',
               '2021-06-03', '2021-06-04', '2021-06-07', '2021-06-08',
               '2021-06-09', '2021-06-10'],
              dtype='datetime64[ns]', name='Date', length=363, freq=None)

In [12]:
start = dt.datetime(2020, 1, 1)
end = dt.datetime(2020, 12, 31)
aapl = pdr.get_data_yahoo('aapl',start,end)
aapl

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-02,75.150002,73.797501,74.059998,75.087502,135480400.0,74.207466
2020-01-03,75.144997,74.125000,74.287498,74.357498,146322800.0,73.486023
2020-01-06,74.989998,73.187500,73.447502,74.949997,118387200.0,74.071579
2020-01-07,75.224998,74.370003,74.959999,74.597504,108872000.0,73.723213
2020-01-08,76.110001,74.290001,74.290001,75.797501,132079200.0,74.909149
...,...,...,...,...,...,...
2020-12-24,133.460007,131.100006,131.320007,131.970001,54930100.0,131.549637
2020-12-28,137.339996,133.509995,133.990005,136.690002,124486200.0,136.254608
2020-12-29,138.789993,134.339996,138.050003,134.869995,121047300.0,134.440399
2020-12-30,135.990005,133.399994,135.580002,133.720001,96452100.0,133.294067
2020-12-31,134.740005,131.720001,134.080002,132.690002,99116600.0,132.267349

In [15]:
start = dt.datetime(2020, 1, 1)
end = dt.datetime(2020, 12, 31)
aapl_w = pdr.get_data_yahoo('aapl',start,end,interval='w')
aapl_w.head()

                 High        Low       Open      Close       Volume  Adj Close
Date
2020-01-01  75.224998  73.187500  74.059998  74.597504  509062400.0  73.723213
2020-01-08  79.392502  74.290001  74.290001  78.169998  726318800.0  77.253838
2020-01-15  79.754997  77.387497  77.962502  79.142502  479412400.0  78.214951
2020-01-22  80.832497  76.220001  79.644997  79.422501  677016000.0  78.491669
2020-01-29  81.962502  75.555000  81.112503  79.712502  852965600.0  78.778267

In [16]:
start = dt.datetime(2020, 1, 1)
end = dt.datetime(2020, 12, 31)
aapl_m = pdr.get_data_yahoo('aapl',start,end,interval='m')
aapl_m.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2020-01-01,81.962502,73.187500,74.059998,77.377502,2.934370e+09,76.470634
2020-02-01,81.805000,64.092499,76.074997,68.339996,3.019279e+09,67.539055
2020-03-01,76.000000,53.152500,70.570000,63.572498,6.280072e+09,62.976532
2020-04-01,73.632500,59.224998,61.625000,73.449997,3.265299e+09,72.761436
2020-05-01,81.059998,71.462502,71.562500,79.485001,2.805936e+09,78.739868

In [17]:
pdr.get_data_stooq("AAPL", start, end).head()

              Open    High     Low   Close     Volume
Date
2020-12-31  133.88  134.54  131.52  132.49   99264699
2020-12-30  135.34  135.79  133.20  133.52   96596256
2020-12-29  137.84  138.58  134.14  134.67  121228209
2020-12-28  133.79  137.14  133.31  136.49  124672261
2020-12-24  131.12  133.26  130.90  131.77   55012148

In [22]:
nasdaq_symbols = pdr.get_nasdaq_symbols()

In [23]:
len(nasdaq_symbols)

10764

In [24]:
nasdaq_symbols.head()

,Nasdaq Traded,Security Name,Listing Exchange,Market Category,ETF,Round Lot Size,Test Issue,Financial Status,CQS Symbol,NASDAQ Symbol,NextShares
Symbol,,,,,,,,,,,
A,True,"Agilent Technologies, Inc. Common Stock",N,,False,100.0,False,NaN,A,A,False
AA,True,Alcoa Corporation Common Stock,N,,False,100.0,False,NaN,AA,AA,False
AAA,True,Listed Funds Trust AAF First Priority CLO Bond...,P,,True,100.0,False,NaN,AAA,AAA,False
AAAU,True,Goldman Sachs Physical Gold ETF Shares,P,,True,100.0,False,NaN,AAAU,AAAU,False
AAC,True,Ares Acquisition Corporation Class A Ordinary ...,N,,False,100.0,False,NaN,AAC,AAC,False

In [25]:
nasdaq_symbols.loc['AAPL']

Nasdaq Traded                            True
Security Name       Apple Inc. - Common Stock
Listing Exchange                            Q
Market Category                             Q
ETF                                     False
Round Lot Size                          100.0
Test Issue                              False
Financial Status                            N
CQS Symbol                                NaN
NASDAQ Symbol                            AAPL
NextShares                              False
Name: AAPL, dtype: object

In [26]:
from pandas_datareader import wb

In [29]:
wb_data = wb.download(indicator="NY.GDP.PCAP.KD", country=['FR', 'US', 'DK','AR'], start=2010, end=2020)

In [30]:
wb_data.unstack(1)

              NY.GDP.PCAP.KD                                            \
year                    2010          2011          2012          2013
country
Argentina       10385.964432  10883.315359  10649.837287  10784.630699
Denmark         58041.398436  58575.607802  58487.793542  58788.084162
France          40638.334004  41329.035361  41258.274731  41282.990800
United States   48467.515777  48866.053276  49603.253472  50171.237131

                                                                       \
year                   2014          2015          2016          2017
country
Argentina      10398.694007  10568.157809  10239.481348  10419.455405
Denmark        59437.947318  60402.129644  61877.976479  63215.998067
France         41480.769608  41793.544712  42140.036880  43015.210642
United States  51065.682692  52168.126236  52643.917842  53552.485014


year                   2018          2019 2020
country
Argentina      10049.555239   9742.455417  NaN
Denmark        64271.878266  65867.001720  NaN
France         43720.026343  44320.057726  NaN
United States  54832.978233  55753.144369  NaN